# Created by https://www.toptal.com/developers/gitignore/api/c++,meson,emacs
# Edit at https://www.toptal.com/developers/gitignore?templates=c++,meson,emacs

### C++ ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

### Emacs ###
# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
dist/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile

# directory configuration
.dir-locals.el

# network security
/network-security.data


### Meson ###
# subproject directories
/subprojects/
/subprojects/*
!/subprojects/*.wrap

# End of https://www.toptal.com/developers/gitignore/api/c++,meson,emacs

# Meson build directory - contains binaries and build configuration.
/build*/

# The compilation database file, you can get it yourself by running `ln -s build/compile_commands.json .`
/compile_commands.json

# Language server cache files
.clangd/
.ccls-cache/

# Tmux logs
tmux-*.log

# Docker files...
/docker
# ...but not THE `Dockerfile`
!Dockerfile

# CCache directory
.ccache/
